# Specific to development environment
.idea/
.vs/
.vscode/
.atom/


# Remove apple metadata and Python cache
**/.DS_Store
node_modules/
logs/
containers_data


# Specific to project
node_modules/
*.log
*.bak
