# Specific to development environment
.idea/
.vs/
.vscode/
.atom/


# Remove apple metadata
**/.DS_Store


# Remove containers persistance data
containers_data/


# Specific to project
**/__pycache__
magellan/db.sqlite3
