# Specific to development environment
.idea/
.vs/
.vscode/
.atom/


# Remove apple metadata
**/.DS_Store


# Remove containers persistance data
containers_data/


# Specific to project
node_modules/
*.log
*.bak
config/*.js
tests-tmp/
coverage/
.nyc_output/

